@charset "utf-8";
@media (min-width:1700px){
    main .all-text{
        height:780px;
    }
    main .main-back .allbox-info{
        margin-top: -285px;
    }
}
@media (max-width:1250px){
    main .main-back .allbox-info{
        display: block;
    }
    main .main-back .allbox-info .bigbox-one{
       margin:30px auto 15px auto;
    }
    main .main-back .allbox-info .minbox-one{
        margin: 30px auto 30px auto;
    }
     /* defines */
     main .defines{
        display: block;
    }

     main .defines article{
        margin-top:30px;
        width: 90%;
        margin: 30px auto;
    }
   
}
@media (max-width:900px){
    header .header-one .header-one-all .help-policy{
        font-size: 12px;
        height:14px;
        margin:8px 0;
    }
    header .header-two .header-two-all nav{
        position: absolute;
        background-color: #ffffff;
        z-index: 9999;
        width: 100%;
        left: 0;
        top:60px;
        overflow: hidden;
        transition: all 0.25s;
        /*max-height: 500px;*/
        max-height: 0;
    }
    /*header .header-two .header-two-all .hide{
        max-height: 0;
    }*/
    header .header-two .header-two-all nav ul{
        display: block;
        margin:0;
    }
    header .header-two .header-two-all nav ul li{
        margin: 0;
    }
    header .header-two .header-two-all nav ul li a{
        display: block;
        width:100%;
    }
    header .header-two .header-two-all .close-open{
        display: block;
        right:12px;
    }
    header .header-two .header-two-all .close-open .open{
        display: block;
    }

    /* FOR HEADER THREE */
    header .header-three{
        height:auto;
    }
    header .header-three .header-three-all{
        height:auto;
        display: block;
        padding: 15px;
        width:100%;
    }
    header .header-three .header-three-all .search{
        width:100%;
        margin: 0;
    }
    header .header-three .header-three-all .search input[type=search]{
        width:90%;
    }
    header .header-three .header-three-all .btn{
        width:100%;
        justify-content: inherit;
        height:30px;
        margin:0;
        margin-top:15px;
    }
    header .header-three .header-three-all .btn a{
        width:48%;
        justify-content: center;
        height:30px;
    }

    /* FOR MAIN */
    /* MAIN BACK*/
    main .main-back{
        background-position:center;
    }
    main .main-back .allbox-info .bigbox-one{
        margin: 40px auto;
    }
    main .main-back .allbox-info .minbox-one{
        position: static;
        display: block;
        /*margin: 40px auto;*/
    }
    /**/
    main .main-back .alltext-info{
        padding:100px 0;
    }
    main .main-back .alltext-info .startinfo h1{
        font-size:45px;
        height:auto;
        padding: 0;
    }
    main .main-back .alltext-info .startinfo p{
        font-size:15px;
        margin:15px auto;
        line-height:25px;
        width:78%;
    }
    main .main-back .alltext-info .startbtn{
        width: 100%;
        height: 0;
    }
    main .main-back .alltext-info .startbtn .btn-video{
        margin-top:15px;
    }
    /* FOR MAIN DONOR */
    main .title{
        font-size: 45px;
    }
    main .search-donor, .imdonate{
        padding: 0;
        border: none;
        width: 95%;
    }
    main .imdonate img{
        margin-top:15px;
    }
    /* OFFER */
    main .offer .all-offer{
        width: 100%;
    }
    main .offer .all-offer article{
        display: block;
    }
    main .offer .all-offer .offer-icon{
        width:90%;
        height:150px;
        margin: 0 auto;
        border-radius: 0;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    main .offer .all-offer .offer-info{
        width: 90%;
        margin: 0 auto;
        border-radius: 0;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    /* Subscribe to notifications */
    main .subscribe-not .all-not{
        width: 100%;
    }
    main .subscribe-not .all-not input[type="email"]{
        width:95%;
    }
    main .subscribe-not .all-not input[type="submit"]{
        width:50%;
    }
    main .subscribe-not .all-not p{
        font-size: 12px;
        width:50%;
    }

    /* footer */
    footer .all-footer nav{
        display: block;
        height: auto;
        width:100%;
    }
    footer .all-footer nav ul{
        margin:40px 30px;
    }
    footer .all-footer nav .copyright{
        position: static;
        font-size: 12px;
        text-align: center;
    }
}
@media (max-width:480px){
    main .main-back .allbox-info{
        padding: 0;
        margin-top: -169px;
    }
    main .main-back .allbox-info .bigbox-one{
        width:95%;
        padding:25px;
    }
    main .main-back .allbox-info .bigbox-one .bigbox-two{
        padding:15px;
    }
    main .main-back .allbox-info .bigbox-one .bigbox-two p{
        font-size: 15px;
        overflow: hidden;
        line-height: 22px;
    }
    main .main-back .allbox-info .minbox-one{
        width:95%;
        padding:25px;
    }
    main .main-back .allbox-info .minbox-one .minbox-two{
        padding:15px;
    }
    main .main-back .allbox-info .minbox-one .minbox-two p{
        font-size: 15px;
        overflow: hidden;
        line-height: 22px;
        min-width:0;
    }
    main .subscribe-not .all-not p{
        width: 95%;
    }
}
@media (max-width:310px){
    header .header-three .header-three-all .btn a{
        font-size:12px;
    }
    main .main-back .alltext-info .startinfo h1{
        font-size:25px;
    }
}

