@charset "utf-8";
@media (max-width:900px){
    header .header-one .header-one-all .help-policy{
        font-size: 12px;
        height:14px;
        margin:8px 0;
    }
    header .header-two .header-two-all nav{
        position: absolute;
        background-color: #ffffff;
        z-index: 9999;
        width: 100%;
        left: 0;
        top:60px;
        overflow: hidden;
        height:0;
        transition: all 0.5s;
    }
    header .header-two .header-two-all nav ul{
        display: block;
        margin:0;
    }
    header .header-two .header-two-all nav ul li{
        margin: 0;
    }
    header .header-two .header-two-all nav ul li a{
        display: block;
        width:100%;
    }
    header .header-two .header-two-all .close-open{
        display: block;
        right:12px;
    }
    header .header-two .header-two-all .close-open .open{
        display: block;
    }

    /* FOR HEADER THREE */
    header .header-three{
        height:auto;
    }
    header .header-three .header-three-all{
        height:auto;
        display: block;
        padding: 15px 0;
    }
    header .header-three .header-three-all .search{
        width:100%;
        margin: 0;
    }
    header .header-three .header-three-all .search input[type=search]{
        width:90%;
    }
    header .header-three .header-three-all .btn{
        width:100%;
        justify-content: inherit;
        height:30px;
        margin:0;
        margin-top:15px;
    }
    header .header-three .header-three-all .btn a{
        width:48%;
        justify-content: center;
        height:30px;
    }

    /* FOR MAIN */
    /* MAIN BACK*/
    main .main-back{
        background-position: center;
    }
}