@charset "utf-8";
@media (max-width:900px){
    header .header-one .header-one-all .help-policy{
        font-size: 12px;
        height:14px;
        margin:8px 0;
    }
    header .header-two .header-two-all nav{
        position: absolute;
        background-color: #ffffff;
        z-index: 9999;
        width: 100%;
        left: 0;
        top:60px;
        border-bottom: solid 1px #d8d8d8;
        overflow: hidden;
        height:0;
        transition: all 0.5s;
    }
    header .header-two .header-two-all nav ul{
        display: block;
        margin:0;
    }
    header .header-two .header-two-all nav ul li{
        margin: 0;
    }
    header .header-two .header-two-all nav ul li a{
        display: block;
        width:100%;
    }
    header .header-two .header-two-all .close-open{
        display: block;
        right:12px;
    }
    header .header-two .header-two-all .close-open .open{
        display: block;
    }
}