@charset "utf-8";

*{
    padding: 0px;
    margin: 0px; 
    box-sizing: border-box; 
    text-decoration: none;
    list-style:none;
    -webkit-tap-highlight-color:transparent;
    font-family: 'Roboto', sans-serif;
}
html{
  scroll-behavior: smooth;
}
/* SCROLLBAR */
::-webkit-scrollbar {
  width:3px;

}
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #FF7171;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {}

   /* Track */
   ::-webkit-scrollbar-track {}


  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ff7171a9;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #ff7171a9;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #ff7171a9;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #ff7171a9;
  }  
/**********************/
header{
  max-width: 2049px;
  margin: 0 auto;
}
/* HEADER ONE */
header .header-one{
  width:100%;
  height:30px;
  background-color: #FF7171;
}
header .header-one .header-one-all{
  display: flex;
  width:95%;
  margin: 0 auto;
  justify-content: space-between;
}
header .header-one .header-one-all .social-media{
  height:20px;
  margin: 5px 0;
}
header .header-one .header-one-all .social-media img{
  width:18px;
  margin-right: 15px;
}
header .header-one .header-one-all .help-policy{
  height: 19px;
  font-size:14px;
  margin: 5.5px 0;
}
header .header-one .header-one-all .help-policy a{
  color: #ffffff;
  margin-left: 15px;
} header .header-one .header-one-all .help-policy a:hover{text-decoration: underline;}

/* HEADER TWO */
header .header-two{
  width:100%;
  height:60px;
  border-bottom: solid 1px #d8d8d8;
  position: relative;
}
header .header-two .header-two-all{
  display: flex;
  width:95%;
  margin: 0 auto;
  justify-content: space-between;
}
/* FOR LOGO */
header .header-two .header-two-all .logo-one{
  height:41.19px;
  margin: 9px 0;
}
header .header-two .header-two-all .logo-one img{
  width:200px;
}
/* FOR LIST */
header .header-two .header-two-all nav ul{
  margin: 19px 0;
  display: flex;
  justify-content: space-between;
}
header .header-two .header-two-all nav ul li{
  margin-left:5px;
}
header .header-two .header-two-all nav ul li a{
  font-size:18px;
  padding: 19px;
  color: #FF7171;
  transition: all 0.5s;
} header .header-two .header-two-all nav ul li a:hover{background-color:#FFF3F3;}
@-moz-document url-prefix() {
  header .header-two .header-two-all nav ul li a{
    font-size: 17px;
  }
}
/* FOR RESPONSIVE - OPEN & CLOSE */
header .header-two .header-two-all .close-open{
  position: absolute;
  width:45px;
  height:45px;
  margin: 7px 0;
  right: 0;
  display: none;
}
header .header-two .header-two-all .close-open i{
  font-size:35px;
  color: #FF7171;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
}
header .header-two .header-two-all .close-open .open{
  display: none;
  width:30.36px;
  height:35px;
}
header .header-two .header-two-all .close-open .close{
  display: none;
  width:24.06px;
  height:35px;
}

/* FOR HEADER THREE */
header .header-three{
  width:100%;
  height:60px;
}
header .header-three .header-three-all{
  display: flex;
  height:60px;
  width:95%;
  margin: 0 auto;
  justify-content: space-between;
}
/* FOR SEARCH */
header .header-three .header-three-all .search{
  border: solid 1.5px #FF7171;
  height:30px;
  width:350px;
  position: relative;
  margin: 14.5px 0;
  border-radius:5px;
  display: flex;
  align-items: center;
}
header .header-three .header-three-all .search input[type=search]{
  width:90%;
  padding:0 5px;
  position: absolute;
  top:0;
  height:100%;
  border:none;
  color:#FF7171;
  border-radius:5px;
} header .header-three .header-three-all .search input[type=search]:focus{outline: none;}
header .header-three .header-three-all .search img{
  width: 14px;
}
header .header-three .header-three-all .search button{
  position: absolute;
  right: 0;
  height:100%;
  width:45px;
  background-color: #ffffff;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius:5px;
  cursor: pointer;
} header .header-three .header-three-all .search button:hover{background-color: #FFF3F3;}

/* FOR BUTTON */
header .header-three .header-three-all .btn{
  display: flex;
  height: 35px;
  margin: 12px 0;
  width: 250px;
  justify-content: inherit;
}
header .header-three .header-three-all .btn a{
  display:flex;
  text-align: center;
  padding:8px 20px;
  align-items: center;
  height: 35px;
  border-radius: 5px;
  transition: all 0.5s;
}
header .header-three .header-three-all .btn .signin{
  border: solid 1px #FF7171;
  color:#FF7171;
} header .header-three .header-three-all .btn .signin:hover{background-color: #FFF3F3;}
header .header-three .header-three-all .btn .signup{
  background-color: #FF7171;
  border: solid 1px #FF7171;
  color: #ffffff;
} header .header-three .header-three-all .btn .signup:hover{background-color: #ff7171de;}
header .header-three .header-three-all .btn a img{
  width: 18px;
  height: 18px;
  margin-left: 5px;
}

/* MAIN */
/* MAIN 01 */
main{
  max-width: 2049px;
  margin: 0 auto;
}
main .all-text{
  background-image: url(../img/background.jpg);
  background-position:center;
  width:100%;
  height:600px;
  background-size: cover;
}
/* TEXT INFO */
main .main-back .alltext-info{
  width:95%;
  margin: 0 auto;
  padding:30px 0;
}
main .main-back .alltext-info .startinfo{
  text-align: center;
}
main .main-back .alltext-info .startinfo h1{
  color: #EF4545;
  font-size:100px;
  padding: 50px 0 52px 0;
  height: 313px;
  font-family: 'Fjalla One', sans-serif;
}
main .main-back .alltext-info .startinfo p{
  color: #ffffff;
  font-size:24px;
  margin-bottom:35px;
}
main .main-back .alltext-info .startbtn{
  text-align: center;
  width: 40%;
  margin:0 auto;
}
main .main-back .alltext-info .startbtn .btn-startnow{
  color: #ffffff;
  background-color: #EF4545;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right:5px;
  transition: all 0.5s;
} main .main-back .alltext-info .startbtn .btn-startnow:hover{background-color: #FF7171;}
main .main-back .alltext-info .startbtn .btn-video{
  color: #ffffff;
  border: solid 2px #ffffff;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 5px;
  margin-left: 5px;
  transition:all 0.5s;
} main .main-back .alltext-info .startbtn .btn-video:hover{background-color: #ffffff; color: #EF4545;}
main .main-back .alltext-info .startbtn .btn-video p{
  display: inline-block;
}
main .main-back .alltext-info .startbtn .btn-video i{
  margin-right:5px;
}


/* MAIN AND BIG BOX FOR INFO - ALL BOXS */
main .main-back .allbox-info{
  width:90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1230px;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-top: -110px;
}
/* BIG BOX */
main .main-back .allbox-info .bigbox-one{
  max-width:373px;
  background-color: #EF4545;
  padding:35px;
  border-radius:7px;
}
main .main-back .allbox-info .bigbox-one .bigbox-two{
  border: solid 2px #ffffff;
  border-radius: 5px;
  color: #ffffff;
  padding:20px;
}
main .main-back .allbox-info .bigbox-one .bigbox-two img{
  float: right;
  position: relative;
  width:50px;
  margin-bottom: 15px;
}
main .main-back .allbox-info .bigbox-one .bigbox-two h1{
  clear: both;
  font-size:30px;
}
main .main-back .allbox-info .bigbox-one .bigbox-two p{
  font-size:15px;
  margin-top: 15px;
  line-height: 25px;
}
main .main-back .allbox-info .bigbox-one .bigbox-two .learn-more{
  display: flex;
  justify-content: flex-end;
}
main .main-back .allbox-info .bigbox-one .bigbox-two .learn-more a{
  display:inline-block;
  padding: 8px 10px;
  border: solid 2px #ffffff;
  border-radius: 5px;
  color: #ffffff;
  margin-top: 15px;
  transition: all 0.5s;
} main .main-back .allbox-info .bigbox-one .bigbox-two .learn-more a:hover{
  background-color: #ffffff; 
  color: #EF4545; border: 
  solid 2px #ffffff;
}

/* MIN BOX */
main .main-back .allbox-info .minbox-one{
  max-width:374px;
  /*max-height: 408px;*/
  background-color: #ffffff;
  padding:35px;
  border-radius:7px;
  border: solid 0.5px #dadce0;
}
main .main-back .allbox-info .minbox-one .minbox-two{
  border: solid 2px #EF4545;
  border-radius: 5px;
  color: #EF4545;
  padding:20px;
}
main .main-back .allbox-info .minbox-one .minbox-two img{
  float: right;
  position: relative;
  width:50px;
  margin-bottom: 15px;
}
main .main-back .allbox-info .minbox-one .minbox-two h1{
  clear: both;
  font-size:30px;
}
main .main-back .allbox-info .minbox-one .minbox-two p{
  font-size:15px;
  margin-top: 15px;
  line-height: 25px;
  min-width: 258px;
}
main .main-back .allbox-info .minbox-one .minbox-two .learn-more{
  display: flex;
  justify-content: flex-end;
}
main .main-back .allbox-info .minbox-one .minbox-two .learn-more a{
  display:inline-block;
  padding: 8px 10px;
  border: solid 2px #EF4545;
  border-radius: 5px;
  color: #EF4545;
  margin-top: 15px;
  transition: all 0.5s;
} main .main-back .allbox-info .minbox-one .minbox-two .learn-more a:hover{
  background-color: #EF4545; 
  color: #ffffff; 
  border: solid 2px #EF4545;
}
main .main-back .allbox-info i{
  position: relative;
  top:1px;
}

/* MAIN - TITLE */
main .title{
  font-size: 100px;
  color: #FF7171;
  text-align: center;
  width: 95%;
  margin: 0 auto;
  padding:170px 0;
}

/* FOR SEARCH DONOR */
/* info */
main .search-donor, .imdonate{
  width:80%;
  max-width: 1091px;
  padding: 30px;
  border-left:solid 2px #FF7171;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-wrap: wrap;
}
main .search-donor .sdonor-info, .imdonate .imdonate-info{
  color: #FF7171;
  width:340px;
}
main .search-donor .sdonor-info .tl, .imdonate .imdonate-info .tl{
  font-size:35px;
  font-weight:bold;
}
main .search-donor .sdonor-info .ds, .imdonate .imdonate-info .ds{
  font-size:18px;
  margin-top:10px;
  line-height:25px;
}
main .search-donor .sdonor-info .nt, .imdonate .imdonate-info .nt{
  font-size:14px;
  padding: 10px;
  border-left: solid 2px #FF7171;
  background-color: #FFF3F3;
  width:100%;
  line-height: 20px;
  margin-top:20px;
  border-radius: 3px;
}
/* input */
main .search-donor .inpt-search input, .imdonate .inpt-imdonate input{
  display:block;
  border: solid 1px #FF7171;
  width:100%;
  height:40px;
  padding:0 10px;
  border-radius:5px;
  margin-top:25px;
  font-size:14px;
  color: #FF7171;
}  main .search-donor .inpt-search input:focus, .imdonate .inpt-imdonate input:focus{outline: none}
main .search-donor .inpt-search input[type="text"], .imdonate .inpt-imdonate input[type="text"]{
  color: #FF7171;
}
main .search-donor .inpt-search input[type="submit"], .imdonate .inpt-imdonate input[type="submit"]{
  background-color: #FF7171;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.5s;
} main .search-donor .inpt-search input[type="submit"]:hover, .imdonate .inpt-imdonate input[type="submit"]:hover{background-color: #ff7171de;}
main .search-donor img, .imdonate img{
  width:300px;
}
main .imdonate{
  margin-top:100px;
}

/* defines */
main .defines{
  width:95%;
  max-width: 1295px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
main .defines article{
  text-align: center;
}
main .defines article .d-icon{
  width:150px;
  height: 150px;
  background-color: #EF4545;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
}
main .defines article .d-icon img{
  width:60px;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
}
main .defines article h4{
  color: #EF4545;
  font-size: 26px;
  margin-top: 15px;
}
main .defines article p{
  color: #FF7171;
  font-size:14px;
  margin-top: 15px;
  line-height: 20px;
}

/* FOR OFFER */
main .offer{
  width:95%;
  margin: 0 auto;
}
main .offer .all-offer{
  margin: 0 auto;
  width:60%;
}
main .offer .all-offer article{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0 auto;
}
main .offer .all-offer .mrgn{
  margin: 30px 0;
}
main .offer .all-offer .offer-icon{
  background-color:#EF4545;
  position: relative;
  width:100px;
  height: 100px;
  border-top-left-radius:5px;
  border-bottom-left-radius: 5px;
}
main .offer .all-offer .offer-icon img{
  width:60px;
  position: absolute;
  top: 0;bottom: 0;left: 0;right: 0;
  margin: auto;
}
main .offer .all-offer .offer-info{
  border: solid 2px #EF4545;
  padding: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width:80%;
}
main .offer .all-offer .offer-info h4{
  color: #EF4545;
  font-size: 18px;
}
main .offer .all-offer .offer-info p{
  color: #FF7171;
  font-size: 14px;
  margin-top:5px;
  line-height: 20px;
}

/* Subscribe to notifications */
main .subscribe-not{
  width:95%;
  margin: 0 auto;
}
main .subscribe-not .all-not{
  width:80%;
  margin: 0 auto;
  padding-bottom: 170px;
}
main .subscribe-not .all-not input[type="email"]{
  display: block;
  border: solid 1px #FF7171;
  width:50%;
  max-width:630px;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  font-size: 14px;
  margin: 0 auto;
  color: #FF7171;
} main .subscribe-not .all-not input[type="email"]:focus{outline: none;}
main .subscribe-not .all-not input[type="submit"]{
  display: block;
  background-color: #FF7171;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.5s;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  margin:30px auto;
  width:20%;
  font-size: 14px;
} main .subscribe-not .all-not input[type="submit"]:hover{background-color: #ff7171de;}
main .subscribe-not .all-not p{
  font-size: 14px;
  padding: 10px;
  border-left: solid 2px #FF7171;
  background-color: #FFF3F3;
  color: #EF4545;
  width: 100%;
  line-height: 20px;
  border-radius: 3px;
  width:40%;
  margin: 0 auto;
}

/* FOOTR */
footer{
  max-width: 2049px;
  margin: 0 auto;
  background-color:#FFF3F3;
}
footer .all-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
  padding:30px 0;
}
footer .all-footer .mess img{
  width:250px;
  margin-bottom: 5px;
}
footer .all-footer .mess input{
  display: block;
  border: solid 1px #FF7171;
  height:40px;
  border-radius: 5px;
  width: 250px;
  padding: 0 10px;
  margin-top:15px;
  color: #FF7171;
} footer .all-footer .mess input:focus{outline: none;}
footer .all-footer .mess .boxmess{
  height:150px;
  display: block;
  border: solid 1px #FF7171;
  border-radius: 5px;
  width: 250px;
  padding: 10px;
  margin-top:15px;
  color: #FF7171;
} footer .all-footer .mess .boxmess:focus{outline: none;}
footer .all-footer .mess input[type="submit"]{
  background-color: #FF7171;
  border: solid 1px #FF7171;
  color: #ffffff;
  font-size: 16px;
  width:250px;
  cursor: pointer;
} footer .all-footer .mess input[type="submit"]:hover{background-color: #ff7171de;}
footer .all-footer nav{
  display: flex;
  flex-wrap: wrap;
  width: 819px;
  justify-content: space-around;
  margin-top:75px;
  height: 259px;
  position: relative;
}
footer .all-footer nav h4{
  color: #EF4545;
  font-size:22px;
}
footer .all-footer nav ul li a{
  display: block;
  color: #FF7171;
  font-size: 16px;
  margin-top: 15px;
} footer .all-footer nav ul li a:hover{text-decoration: underline;}
footer .all-footer nav .copyright{
  position: absolute;
  bottom: 0;
  color: #EF4545;
  left:70px;
}
footer .all-footer nav .copyright a{
  color: #EF4545;
}